<h1 class='center'><%= current_user.screen_name %>'s Watch List</h1>

<div class="all_cards">
  <% @representatives.each do |rep| %>
    <% @representative = rep %>
    <%= render partial: 'partials/contact_card' %>
  <% end %>
</div>
