@import url("http://fonts.googleapis.com/css?family=Open+Sans|Dosis:400,800");
/* line 9, /Users/margaretwilliford/turing/3module/rep_check/app/assets/stylesheets/main.scss */
html {
  height: 100%;
  box-sizing: border-box;
  background-color: #E3E1CF;
}

/* line 15, /Users/margaretwilliford/turing/3module/rep_check/app/assets/stylesheets/main.scss */
#map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

/* line 22, /Users/margaretwilliford/turing/3module/rep_check/app/assets/stylesheets/main.scss */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 30px;
  margin: 0px;
  margin-bottom: 15px;
  height: 175px;
  background-image: url(/assets/Capitol-83936b95740302090c102f2272b1a9529659a7e1ea1b6857589e43186e4f2417.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 39, /Users/margaretwilliford/turing/3module/rep_check/app/assets/stylesheets/main.scss */
nav .logo {
  height: 40%;
}
/* line 43, /Users/margaretwilliford/turing/3module/rep_check/app/assets/stylesheets/main.scss */
nav .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
/* line 50, /Users/margaretwilliford/turing/3module/rep_check/app/assets/stylesheets/main.scss */
nav .nav-link {
  margin-right: 15px;
  font-size: 20px;
  margin-top: 40px;
}

/* line 57, /Users/margaretwilliford/turing/3module/rep_check/app/assets/stylesheets/main.scss */
h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  line-height: 80%;
  font-size: 44px;
  margin: 0 0 23px 0;
  color: #BC2C26;
}

/* line 65, /Users/margaretwilliford/turing/3module/rep_check/app/assets/stylesheets/main.scss */
h2, .notice {
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
  line-height: 50%;
  font-size: 20px;
  margin: 0 0 23px 0;
  color: #557884;
}

/* line 73, /Users/margaretwilliford/turing/3module/rep_check/app/assets/stylesheets/main.scss */
p, li, td, .success, .notice {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 0 0 23px 0;
  color: #45474B;
}

/* line 79, /Users/margaretwilliford/turing/3module/rep_check/app/assets/stylesheets/main.scss */
a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 23px;
  margin: 0 0 23px 0;
  color: #BC2C26;
}

/* line 87, /Users/margaretwilliford/turing/3module/rep_check/app/assets/stylesheets/main.scss */
.center {
  top: 22%;
  left: 50%;
  text-align: center;
}

/* line 93, /Users/margaretwilliford/turing/3module/rep_check/app/assets/stylesheets/main.scss */
.all_cards {
  display: flex;
  flex-direction: row;
  margin: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

/* line 101, /Users/margaretwilliford/turing/3module/rep_check/app/assets/stylesheets/main.scss */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  margin: 10px;
  border-style: dashed;
  border-width: 3px;
  border-color: #557884;
}

/* line 112, /Users/margaretwilliford/turing/3module/rep_check/app/assets/stylesheets/main.scss */
.sub-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #BC2C26;
}

/* line 122, /Users/margaretwilliford/turing/3module/rep_check/app/assets/stylesheets/main.scss */
.contact-info {
  display: flex;
  flex-direction: column;
}

/* line 127, /Users/margaretwilliford/turing/3module/rep_check/app/assets/stylesheets/main.scss */
.contact-details {
  padding: 10px;
}

/* line 131, /Users/margaretwilliford/turing/3module/rep_check/app/assets/stylesheets/main.scss */
.image {
  height: 300px;
  width: 250px;
}

/* line 136, /Users/margaretwilliford/turing/3module/rep_check/app/assets/stylesheets/main.scss */
ul {
  margin: 0;
}

/* line 140, /Users/margaretwilliford/turing/3module/rep_check/app/assets/stylesheets/main.scss */
button {
  background-color: #557884;
  color: white;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* line 151, /Users/margaretwilliford/turing/3module/rep_check/app/assets/stylesheets/main.scss */
.dropdown {
  position: relative;
  display: inline-block;
}

/* line 156, /Users/margaretwilliford/turing/3module/rep_check/app/assets/stylesheets/main.scss */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* line 164, /Users/margaretwilliford/turing/3module/rep_check/app/assets/stylesheets/main.scss */
.dropdown-content a {
  color: #45474B;
  padding: 10px 10px;
  margin: none;
  text-decoration: none;
  display: block;
}

/* line 172, /Users/margaretwilliford/turing/3module/rep_check/app/assets/stylesheets/main.scss */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* line 174, /Users/margaretwilliford/turing/3module/rep_check/app/assets/stylesheets/main.scss */
.dropdown:hover .dropdown-content {
  display: block;
}

/* line 178, /Users/margaretwilliford/turing/3module/rep_check/app/assets/stylesheets/main.scss */
table {
  border-spacing: 10px;
  border-collapse: collapse;
}

/* line 183, /Users/margaretwilliford/turing/3module/rep_check/app/assets/stylesheets/main.scss */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* line 187, /Users/margaretwilliford/turing/3module/rep_check/app/assets/stylesheets/main.scss */
th {
  padding-bottom: 10px;
}

/* line 191, /Users/margaretwilliford/turing/3module/rep_check/app/assets/stylesheets/main.scss */
#votes {
  width: 1000px;
  height: 600px;
  overflow: auto;
}

/* line 197, /Users/margaretwilliford/turing/3module/rep_check/app/assets/stylesheets/main.scss */
.dem {
  color: #557884;
}

/* line 201, /Users/margaretwilliford/turing/3module/rep_check/app/assets/stylesheets/main.scss */
.rep {
  color: #BC2C26;
}

/* line 205, /Users/margaretwilliford/turing/3module/rep_check/app/assets/stylesheets/main.scss */
#tweets {
  width: 90%;
  height: 500px;
  overflow: auto;
  border: none;
}

/* line 211, /Users/margaretwilliford/turing/3module/rep_check/app/assets/stylesheets/main.scss */
#summary {
  width: 90%;
  line-height: 10%;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

