<% if current_user && current_user.representatives.include?(@representative) %>
  <p class='center'><%= link_to "<i class='fas fa-heart'></i>".html_safe, representative_path(@representative), method: 'put', title: 'Remove from Favorites' %></p>
<% elsif current_user %>
  <h2 class='center'> <%= link_to 'Save to Favorites', user_favorites_path(current_user, representative_id: @representative.id), method: 'post' %></h2>
<% end %>
