<% if current_user && current_user.representatives.include?(@representative) %>
  <%= link_to "Unfollow", representative_path(@representative), method: 'put' %>
<% elsif current_user %>
  <h2 class='center'> <%= link_to "<i class='fas fa-eye fa-3x'></i>".html_safe, user_favorites_path(current_user, representative_id: @representative.id), method: 'post', title: 'Keep an Eye on this Rep' %></h2>
<% end %>
