<div class='card'>
  <%= render partial: 'partials/summary' %>
  <p>Note: Bills with neither republican or democratic position typically means the representative was not present for the vote.</p>
  <p>A missed vote does not count as voting against one's party.</p>
  <%= render partial: 'partials/votes' %>
</div>
