<h1 class='center'>Colorado Representatives</h1>
<% cache do %>
  <div class="all_cards">
    <% @representatives.each do |rep| %>
      <% @representative = rep %>
      <%= render partial: 'partials/contact_card' %>
    <% end %>
  </div>
  <% end %>
