<h1 class='center'>Diana DeGette - 1st Congressional District</h1>

<div class="all_cards">

  <div class="card">
    <%= image_tag src='diana.jpg', class: 'image'  %>
    <h1>Diana DeGette</h1>
    <h2>Democrat</h2>
    <div class="contact-info">
      <div class='contact-details'><i class="fab fa-facebook-f"></i> <%= link_to 'facebook.com/DianaDeGette', 'http://www.facebook.com/DianaDeGette'%></div>
      <div class='contact-details'><i class="fab fa-twitter"></i> <%= link_to '@DianaDeGette', 'http://www.twitter.com/DianaDeGette'%></div>
      <div class='contact-details'><i class="fas fa-envelope"></i> DianaDeGette@gmail.com</div>
      <div class='contact-details'><i class="fas fa-external-link-alt"></i> <%= link_to 'DianaDeGette.com', 'http://www.DianaDeGette.com'%></div>
    </div>


  </div>

  <div class='card'>
    <h1>Voted with Democratic Party on <b>80%</b> of Bills</h1>
    <div class="sub-card">
      <h2>Broke Party Lines on These Issues:</h2>
        <ul>
          <li> Guns (3 Bills) </li>
          <li> Climate (2 Bills) </li>
          <li> Taxation (1 Bills) </li>
        </ul>
    </div>
  </div>

</div>
