<h1 class='center'>Diana DeGette - 1st Congressional District</h1>

<div class="all_cards">

  <div class="card">
    <h2>Dianna DeGette</h2>
    <p>Democrat</p>
  </div>

  <div class='card'>
    <h2>Voted with Democratic Party on 80% of Bills</h2>

    <p>Broke Party Lines on These Issues:</p>
      <ul>
        <li> Guns (3 Bills) </li>
        <li> Climate (2 Bills) </li>
        <li> Taxation (1 Bills) </li>
      </ul>
  </div>

</div>
