<h1 class='center'> <%= @representative.name %> - Congressional District <%= @representative.district %></h1>

<div class="all_cards">
  <%= render partial: 'partials/contact_card' %>
  <%= render partial: 'rep_summary' %>
</div>
