<nav>
  <%=image_tag 'logo.png', class: 'logo'%>
  <div class='menu'>
      <%= link_to 'House', representatives_path, class: 'nav-link'  %>
      <div class='nav-link'>|</div>
      <%= link_to 'Senate', senators_path, class: 'nav-link' %>
  </div>
</nav>
