<div class='card' id='tweets'>
    <a href="https://twitter.com/intent/tweet?screen_name=<%=@representative.twitter%>" class="twitter-mention-button" data-size="large" data-show-count="false">Tweet Your Representative!</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </br>
  <a class="twitter-timeline" data-height="450" data-width='300' data-theme="dark" href="https://twitter.com/<%=@representative.twitter%>">Tweets</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
