<h1>RepCheck</h1>
<h2>Click on your house district below to learn more about your representative!</h2>
<p>Not sure exactly where you fall? Enter your zip code to find your district:</p>

<div id='map' style='width: 700px; height: 600px;'></div>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoibGlsd2lsbGlmbyIsImEiOiJjamhqc3MxejMybjl4M2NtN3pyODB6a3FjIn0.SRm-mNE5-hpImM_QM7WQFA';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/lilwillifo/cjhjyrj7e332m2socy4h6hcya',
center: [-105.358887, 39.5501],
zoom: 6
});
</script>
