<div class= 'center'>
<h1>RepCheck</h1>
<h2>Click on your house district below to learn more about your representative!</h2>
<p>Not sure exactly where you fall? Enter your address to find your district:</p>
<%= render partial: 'form' %>
</div>
<div id='map' style='width: 850px; height: 600px;'></div>
