@import url('http://fonts.googleapis.com/css?family=Open+Sans|Dosis:400,800');

$title: #BC2C26;
$link: #BC2C26;
$subheading: #557884;
$main-text: #45474B;
$background: #E3E1CF;

html {
  height: 100%;
  box-sizing: border-box;
  background-color: $background;
}

#map {
       display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
     }

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top:5px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 30px;
  margin: 0px;
  margin-bottom: 15px;
  height: 175px;
  background-image: image-url('Capitol.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .logo {
    height: 40%;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .nav-link {
    margin-right: 15px;
    font-size: 20px;
    margin-top: 40px;
  }
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    line-height: 80%;
    font-size: 44px;
    margin: 0 0 23px 0;
    color: $title;
    }
h2, .notice {
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    line-height: 50%;
    font-size: 20px;
    margin: 0 0 23px 0;
    color: $subheading;
    }
p, li, td, .success, .notice {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0 0 23px 0;
    color: $main-text;
    }
a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 23px;
  margin: 0 0 23px 0;
  color: $link;
  }

  .center {
    top: 22%;
    left: 50%;
    text-align: center;
  }

  .all_cards {
    display: flex;
    flex-direction: row;
    margin: 0 50px 50px 0;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px;
    border-style: dashed;
    border-width: 3px;
    border-color: $subheading;
  }
  #contact {
    width: 25%;
  }
  #rep_summary {
    width: 60%;
  }

  .sub-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: $title;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
  }

  .contact-details {
    padding: 10px;
  }

  .image {
    height: 30%;
    width: 100%;
     box-shadow: 5px 5px 5px grey;
  }

  ul{
    margin: 0;
  }

  button {
    background-color: $subheading;
    color: white;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: $main-text;
    padding: 10px 10px;
    margin: none;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

table {
  border-spacing: 10px;
  border-collapse: collapse
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  padding-bottom: 10px;
}

#votes {
  width:90%;
  height:800px;
  overflow:auto;
}

.dem {
  color: $subheading;
}

.rep {
  color: $title;
}

#tweets {
  width: 90%;
  height: 500px;
  overflow:auto;
  border: none;
}
#summary {
  width: 45%;
  line-height: 10%;
  height:150px;
  overflow:auto;
}

.eyes {
  text-decoration: none;
  font-size: 22px;
}
