nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top:5px;
  padding-left: 175px;
  padding-right: 175px;

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-link {
    margin-right: 15px;
    font-size: 12px;
  }
}
