@import url('http://fonts.googleapis.com/css?family=Open+Sans|Dosis:400,800');

$title: #557884;
$link: #BC2C26;
$subheading: #BC2C26;
$main-text: #45474B;
$background: #E3E1CF;

html {
  height: 100%;
  box-sizing: border-box;
  background-color: $background;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top:5px;
  padding-left: 175px;
  padding-right: 175px;

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-link {
    margin-right: 15px;
    font-size: 20px;
  }
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    line-height: 46px;
    font-size: 40px;
    margin: 0 0 23px 0;
    color: $title;
    }
h2 {
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    margin: 0 0 23px 0;
    color: $subheading;
    }
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 23px;
    margin: 0 0 23px 0;
    color: $main-text;
    }
a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 23px;
  margin: 0 0 23px 0;
  color: $link;
  }
